<div class="row" style="margin-top: 50px;">
    <!--<div class="xlarge-3 xlarge-offset-1 large-4 small-4 columns roll_container">-->
    <div class="xlarge-3 xlarge-offset-1 large-3 small-3 columns roll_container">
      <div class="row">
        <div class="large-1 columns">
        </div>
        <div class="large-11 columns">
          <div class="roll-container">
            <ul class="roll">
              {{#each request in model.requests}}
                {{#link-to "requests.show" request}}
                  <li class="post text-center">
                    <span class="post_title">{{request.title}}</span>
                    <span class="post_excerpt">{{substr request.description 0 50}} [...]</span>
                    <span class="left_icons">
                       <i class="fa fa-camera"></i>
                       <i class="fa fa-globe"></i>
                     </span>
                    <span class="right_icons">
                       <i class="fa fa-money"></i>
                       <i class="fa fa-gift"></i>
                     </span>
                  </li>
                {{/link-to}}
              {{/each}}
            </ul>
            <div class="slit up">
              <div class="roll-tools-left">
                 <i class="fa fa-search"></i>
              </div>
              <div class="roll-tools-right">
                 <i class="fa fa-camera"></i>
                 <i class="fa fa-globe"></i>
                 <i class="fa fa-money"></i>
                 <i class="fa fa-gift"></i>
              </div>
            </div>
            <div class="slit down"></div>
          </div>
          {{link-to "Add new request" "requests.new" class="pull-right"}}
        </div>
      </div>
    </div>
    <!--<div class="small-4 large-4 xlarge-4 columns content">-->
    <div class="small-6 large-6 xlarge-4 columns">
      &nbsp; 
      {{outlet}}
      &nbsp;
    </div>
    <!--<div class="small-4 xlarge-3 end large-4 columns roll_container">-->
    <div class="small-3 xlarge-3 end large-3 columns roll_container">
      <div class="row">
        <div class="large-11 columns">
          <div class="roll-container">
            <ul class="roll">
              {{!--
              --}}
              {{#each job in model.jobs}}
                {{#link-to "jobs.show" job}}
                  <li class="post text-center">
                    <span class="post_title">{{job.title}}</span>
                    <span class="post_excerpt">{{substr job.description 0 50}} [...]</span>
                    <span class="left_icons">
                       <i class="fa fa-camera"></i>
                       <i class="fa fa-globe"></i>
                     </span>
                    <span class="right_icons">
                       <i class="fa fa-money"></i>
                       <i class="fa fa-gift"></i>
                     </span>
                  </li>
                {{/link-to}}
              {{/each}}
            </ul>
            <div class="slit up">
              <div class="roll-tools-left">
                 <i class="fa fa-search"></i>
              </div>
              <div class="roll-tools-right">
                 <i class="fa fa-camera"></i>
                 <i class="fa fa-globe"></i>
                 <i class="fa fa-money"></i>
                 <i class="fa fa-gift"></i>
              </div>
            </div>
            <div class="slit down"></div>
          </div>
          {{link-to "Add new job" "jobs.new"}}
        </div>
        <div class="large-1 columns">
        </div>
      </div>
    </div>
</div>

  <script type="text/javascript">
    $('ul.roll').perfectScrollbar({
      suppressScrollX: true
    });

    {{!--
    $(window).resize(function() {
      if (window.innerHeight < 600) {
        $('ul.roll').height(window.innerHeight - 200);
      }
    });
    --}}
  </script>
