<ul class="pricing-table">
  <li class="title">
    The {{model.submissionType}}
  </li>
  <li class="price">{{model.title}}</li>
  <li class="description">{{model.description}}</li>
  <li class="bullet-item">
    <span class="list-icon">
      {{#if model.travel}} {{fa-icon 'check'}}
      {{else}} {{fa-icon 'close'}} {{/if}}
    </span>
    Travel
    <br>
    <span class="list-icon">
      {{#if model.driver_license}} {{fa-icon 'check'}}
      {{else}} {{fa-icon 'close'}} {{/if}}
    </span>
    Driving license
  </li>
  <li class="bullet-item">
    <ul>
      {{#if model.assignment_types}}
        {{#each type in model.assignment_types}} <li>
            <span class="list-icon"> {{fa-icon type.icon}} </span> 
            {{type.option}} 
            <small> ({{type.category}})</small>
        </li> {{/each}}
      {{/if}}
      {{#if model.resource_types}}
        {{#each type in model.assignment_types}} <li>
            <span class="list-icon"> {{fa-icon type.icon}} </span> 
            {{type.option}} 
            <small> ({{type.category}})</small>
        </li> {{/each}}
      {{/if}}
    </ul>
  </li>
  <li class="bullet-item">
      {{#if model.assignment_rewards}}
        {{#each reward in model.assignment_rewards}} <li>
          <span class="list-icon"> {{fa-icon reward.icon}} </span> 
          {{reward.reward}} 
        </li> {{/each}}
      {{/if}}
      {{#if model.resource_rewards}}
        {{#each reward in model.assignment_rewards}} <li>
          <span class="list-icon"> {{fa-icon reward.icon}} </span> 
          {{reward.reward}} 
        </li> {{/each}}
      {{/if}}
  </li>
</ul>
