<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            {{#link-to 'index'}}<strong>K.E.P.</strong>{{/link-to}}
          </h1>
        </li>
        <section class="top-bar-section">
          <ul class="left">
            <li class="divider"></li>
            <li>
              {{#link-to 'match.dashboard'}}Match/dashboard{{/link-to}}
            </li>
          </ul>
        </section>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <!--<li>-->
            <!--<button {{action 'setError' 'Sample error'}}>Error</button>-->
          <!--</li>-->
          <li class="divider"></li>
          {{#if session.isAuthenticated}}
            <li {{action 'notificationsMessage'}}>
              {{!--
              {{#link-to 'match.notifications'}}{{fa-icon "envelope"}}&nbsp;<span class="label round">10</span>{{/link-to}}
              --}}
              <a href="#">{{fa-icon "envelope"}}&nbsp;<span class="label round">10</span></a>
            </li>
            {{!--
            <li class="has-dropdown">
              <a href="#">{{fa-icon "briefcase"}}&nbsp;</a>
              <ul class="dropdown">
                <li>
                  {{#link-to 'assignments.browse'}}Browse{{/link-to}}
                </li>
                <li>
                  {{#link-to 'assignments.suggested'}}Suggested{{/link-to}}
                </li>
                <li>
                  {{#link-to 'assignments.taken'}}Taken{{/link-to}}
                </li>
              </ul>
            </li>
            --}}
            <li class="has-dropdown">
              <a href="#">{{fa-icon "user-secret"}} {{session.content.email}}</a>
              <ul class="dropdown">
                <li>
                  {{#link-to 'account.show' session.content.id}}My account{{/link-to}}
                </li>
                <li>
                  <a {{ action 'invalidateSession' }}>Logout</a>
                </li>
              </ul>
            </li>
          {{else}}
            <!-- {{#link-to 'login' data-reveal-id="loginModal"}}Login{{/link-to}} -->
            <!-- <a href="#">[guest user]</a> -->
          {{/if}}
        </ul>
      </section>
  </nav>
</div>
