<h5>Edit request</h5>

<form id="updaterequest" {{action 'updateRequest' on='submit'}}>
  {{#each flashes.queue as |flash|}}
    {{flash-message flash=flash messageStyle='foundation' class='radius'}}
  {{/each}}

  <label for="title">Title</label>
  {{input id='title' placeholder='Enter a title'
          value=request.title}}
  <label for="description">Description</label>
  {{textarea id='description' placeholder='Description' value=request.description}}
  {{input id='travel' type='checkbox' checked=request.travel}}
  <label for='travel'>Travel</label>
  <br>
  {{input id='driver_license' type='checkbox' checked=request.driver_license}}
  <label for='driver_license'>Driving license</label>
  <div class="row">
    <div class="small-12 columns">
      <label>Request type(s)</label>
      {{select-2
          content=types_select
          value=request.request_type_ids
          multiple=true
          optionValuePath="id"
          placeholder="What type of request is this?"
      }}
    </div>
    <div class="small-12 columns">
      <label>Compensation(s)</label>
      {{select-2
          content=compensations_select
          placeholder="Compensation?"
          value=request.request_compensation_ids
          multiple=true
          optionValuePath="id"
          optionLabelPath="compensation"
      }}
    </div>
  </div>
  <hr>
  <button id="submit" type="submit" class="pull-right">Send</button>
  <button id="cancel" class="pull-right secondary" {{action 'cancel'}}>Cancel</button>
</form>

<script type="text/javascript">
  $('#updatejob').on("keyup keypress", function(e) {
    var code = e.keyCode || e.which; 
    if (code  == 13) {               
      e.preventDefault();
      return false;
    }
  });
</script>
