<h5>New request</h5>

<form id="newrequest" {{action 'submitRequest' on='submit'}}>
  {{#each flashes.queue as |flash|}}
    {{flash-message flash=flash messageStyle='foundation' class='radius'}}
  {{/each}}

  <label for="title">Title</label>
  {{input id='title' placeholder='Enter a title'
          value=newRequest.title}}
  <label for="description">Description</label>
  {{textarea id='description' placeholder='Description' value=newRequest.description}}
  {{input id='travel' type='checkbox' checked=newRequest.travel}}
  <label for='travel'>Travel</label>
  <br>
  {{input id='driver_license' type='checkbox' checked=newRequest.driver_license}}
  <label for='driver_license'>Driving license</label>
  <button id="submit" type="submit" class="pull-right">Send</button>
  {{!--
  <button {{action "dangerAction"}}>Test</button>
  <button {{action "successAction"}}>Test</button>
  <button {{action "warningAction"}}>Test</button>
  <button {{action "infoAction"}}>Test</button>
  <button {{action "customAction"}}>Test</button>
  --}}
</form>
