<div class="row">
  <div class="small-1 columns">&nbsp;</div>
  <div class="small-10 columns content">
    <h1 class="content-title">
      {{model.title}}
    </h1>
    <div class="row">
      <div class="small-9 columns"><hr></div>
      <div class="small-3 columns">
        {{!--
        <button class="button micro radius success"
          {{action 'match'}}>
          Match
        </button>
        --}}
        {{#link-to 'jobs.show' 1 (query-params match=model.id) class="button micro radius success"}}
          Match
        {{/link-to}}
        {{#if match}}
          <button class="button micro radius secondary"
            {{action 'matchExit'}}>
            Exit match
          </button>
        {{/if}}
      </div>
    </div>
    <p>
      {{model.description}}
    </p>

    <ul class="small-block-grid-2 details-list">
      <li>
        <div class="panel radius callout">
          <ul>
            {{#each type in model.job_types}}
              <li>
                <span class="list-icon">
                  {{fa-icon type.icon}}
                </span> 
                {{type.option}} 
                <small> ({{type.category}})</small>
              </li>
            {{/each}}
          </ul>
        </div>
      </li>
      <li>
        <div class="panel radius callout">
          <span class="list-icon">
            {{#if model.travel}} {{fa-icon 'check'}}
            {{else}} {{fa-icon 'close'}} {{/if}}
          </span>
          Travel
          <br>
          <span class="list-icon">
            {{#if model.driver_license}} {{fa-icon 'check'}}
            {{else}} {{fa-icon 'close'}} {{/if}}
          </span>
          Driving license
          <br>
        </div>
      </li>
    </ul>

    {{!--edit-buttons 'compare' job=model.user_id user=session.content.id--}}
    {{#if model.is_owner}}
      <ul class="button-group radius pull-right">
        <li><a href="#" class="button tiny" {{action 'editRequest'}}>Edit</a></li>
        <li><a href="#" class="button tiny alert" {{action 'deleteRequest'}}>Delete</a></li>
      </ul>
    {{/if}}
  </div>
  <div class="small-1 columns">&nbsp;</div>
</div>

<div class="row">
  {{outlet 'match'}}
</div>

