<div class="row">
  <div class="small-1 columns">&nbsp;</div>
  <div class="small-10 columns content">
    <h1 class="content-title">
      {{model.title}}
    </h1>
    {{!--
    <small>by {{outlet 'username'}}</small>
    --}}
    <div class="row">
      <div class="small-9 columns"><hr></div>
      <div class="small-3 columns">
        {{!--
        <button class="button micro radius success"
          {{action 'match'}}>
          Match
        </button>
        --}}
        {{#if match}}
          <button class="button micro radius secondary"
            {{action 'matchExit'}}>
            Exit match
          </button>
        {{else}}
          {{#link-to 'assignments.show' 1 (query-params match=model.id) class="button micro radius success"}}
            Match
          {{/link-to}}
        {{/if}}
      </div>
    </div>
    {{#if match}}
      <p></p>
    {{else}}
      <p>{{model.description}}</p>
    {{/if}}

    <ul class="small-block-grid-2 details-list">
      <li>
        <div class="panel radius callout">
          <ul>
            {{#each type in model.resource_types}}
              <li>
                <span class="list-icon">
                  {{fa-icon type.icon}}
                </span> 
                {{type.option}} 
                <small> ({{type.category}})</small>
              </li>
            {{/each}}
          </ul>
        </div>
      </li>
      <li>
        <div class="panel radius callout">
          <ul>
            {{#each reward in model.resource_rewards}}
              <li>
                <span class="list-icon">
                  {{fa-icon reward.icon}}
                </span> 
                {{reward.reward}} 
              </li>
            {{/each}}
          </ul>
        </div>
      </li>
      <li>
        <div class="panel radius callout">
          <span class="list-icon">
            {{#if model.travel}} {{fa-icon 'check'}}
            {{else}} {{fa-icon 'close'}} {{/if}}
          </span>
          Travel
          <br>
          <span class="list-icon">
            {{#if model.driver_license}} {{fa-icon 'check'}}
            {{else}} {{fa-icon 'close'}} {{/if}}
          </span>
          Driving license
          <br>
        </div>
      </li>
    </ul>

    <div class="pull-right">
    {{#if model.is_owner}}
      <ul class="button-group radius" style="position: relative;">
        <li><a href="#" class="button tiny" {{action 'editResource'}}>Edit</a></li>
        {{#confirm-extension questionText='Do you really want to destroy this?' confirmText='Yes' declineText='No' confirmAction='deleteResource'}}
          <li><a href="#" class="button tiny alert">Delete</a></li>
        {{/confirm-extension}}
      </ul>
    {{/if}}
    </div>
  </div>
  <div class="small-1 columns">&nbsp;</div>
</div>

{{#if matchBase}}
{{else}}
  {{#if match}}
    <div class="row">
      <div class="small-4 columns"><hr></div>
      <div class="small-4 columns text-center">
        <button {{action 'showMatchModal'}} class="button radius tiny info">Review and match</button>
      </div>
      <div class="small-4 columns"><hr></div>
    </div>
  {{/if}}
{{/if}}

<div class="row">
  {{outlet 'match'}}
</div>

