<div class="row">
  <div class="small-1 columns">&nbsp;</div>
  <div class="small-10 columns content">
    <h1 class="content-title">
      {{model.title}}
    </h1>
    <div class="row">
      <div class="small-9 columns"><hr></div>
      <div class="small-3 columns">
        {{!--
        <button class="button micro radius success"
          {{action 'match'}}>
          Match
        </button>
        --}}
        {{#if match}}
          <button class="button micro radius secondary"
            {{action 'matchExit'}}>
            Exit match
          </button>
        {{else}}
          {{#if matchBase}}
          {{else}}
            {{#link-to 'requests.show' 1 (query-params match=model.id) class="button micro radius success"}}
              Match
            {{/link-to}}
          {{/if}}
        {{/if}}
      </div>
    </div>
    {{#if match}}
      <p></p>
    {{else}}
      <p>{{model.description}}</p>
    {{/if}}

    <ul class="small-block-grid-2 details-list">
      <li>
        <div class="panel radius callout">
          <ul>
            {{#each type in model.job_types}}
              <li>
                <span class="list-icon">
                  {{fa-icon type.icon}}
                </span> 
                {{type.option}} 
                <small> ({{type.category}})</small>
              </li>
            {{/each}}
          </ul>
        </div>
      </li>
      <li>
        <div class="panel radius callout">
          <span class="list-icon">
            {{#if model.travel}} {{fa-icon 'check'}}
            {{else}} {{fa-icon 'close'}} {{/if}}
          </span>
          Travel
          <br>
          <span class="list-icon">
            {{#if model.driver_license}} {{fa-icon 'check'}}
            {{else}} {{fa-icon 'close'}} {{/if}}
          </span>
          Driving license
          <br>
        </div>
      </li>
    </ul>

    {{#if model.is_owner}}
      <ul class="button-group radius pull-right">
        <li><a href="#" class="button tiny" {{action 'editJob'}}>Edit</a></li>
        <li><a href="#" class="button tiny alert" {{action 'deleteJob'}}>Delete</a></li>
      </ul>
    {{/if}}
  </div>
  <div class="small-1 columns">&nbsp;</div>
</div>

{{#if matchBase}}
{{else}}
  {{#if match}}
    <div class="row">
      <div class="small-4 columns"><hr></div>
      <div class="small-4 columns text-center">
        <button {{action 'showMatchModal'}} class="button radius tiny info">Review and match</button>
      </div>
      <div class="small-4 columns"><hr></div>
    </div>
  {{/if}}
{{/if}}

<div class="row">
  {{outlet 'match'}}
</div>

