<div class="row">
  <div class="small-1 columns">&nbsp;</div>
  <div class="small-10 columns content">
    <h1 class="content-title">
      {{model.title}}
    </h1>
    <hr>
    <p>
      {{model.description}}
    </p>

    <div class="panel radiu callout">
      <ul>
        {{#each type in model.job_types}}
        <li>{{type.category}}: {{type.option}}</li>
        {{/each}}
      </ul>
    </div>

    <div class="panel radius callout">
      {{#if model.travel}} {{fa-icon 'check'}}
      {{else}} {{fa-icon 'close'}} {{/if}}
      Travel
      <br>
      {{#if model.driver_license}} {{fa-icon 'check'}}
      {{else}} {{fa-icon 'close'}} {{/if}}
      Driving license
      <br>
    </div>

    <ul class="button-group radius pull-right">
      <li><a href="#" class="button tiny" {{action 'editJob'}}>Edit</a></li>
      <li><a href="#" class="button tiny alert" {{action 'deleteJob'}}>Delete</a></li>
    </ul>
  </div>
  <div class="small-1 columns">&nbsp;</div>
</div>

