<div id="loginModal" class="reveal-modal" data-reveal>
    <form id="login" {{!--action 'authenticate' on='submit'--}}>

        {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        {{#if notice}}
          <div class="alert alert-success">{{notice}}</div>
        {{/if}}

        <label for="identification">Login</label>
        {{input placeholder='Enter Login' value=model.email}}
        <label for="password">Password</label>
        {{input placeholder='Enter Password' type='password' value=model.password}}
        <!-- <button id="submit" type="submit">Login</button> -->
        <button {{action 'login' model}} class="btn btn-primary form-control">Sign in</button>
    </form>
  <a class="close-reveal-modal">&#215;</a>
</div>

{{#if session.isAuthenticated}}
  <script>$('#loginModal').foundation('reveal', 'close');</script>
{{else}}
  <script>$('#loginModal').foundation('reveal', 'open');</script>
{{/if}}
