<div class="growl-container">
{{#if matchErrorMessage}}
  <div data-alert class="alert-box alert" tabindex="3" aria-live="assertive" role="dialogalert">
    Alert: {{matchErrorMessage}}
    <a href="#" class="close">&times;</a>
  </div>
{{/if}}
{{#if matchInfoMessage}}
  <div data-alert class="alert-box info" tabindex="3" aria-live="assertive" role="dialogalert">
    Alert: {{matchErrorMessage}}
    <a href="#" class="close">&times;</a>
  </div>
{{/if}}
{{#if matchSuccessMessage}}
  <div data-alert class="alert-box success" tabindex="3" aria-live="assertive" role="dialogalert">
    Alert: {{matchErrorMessage}}
    <a href="#" class="close">&times;</a>
  </div>
{{/if}}
</div>

{{partial 'match/p-navbar'}}
{{!--render 'match.dashboard.index'--}}
{{outlet}}
